:root{
    --primary-color: #4E47FF;
    --light-color:#B3B3B3;
    --main-font:"Raleway", sans-serif;
    --inter-font:"Inter", sans-serif;
}
*{

    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background: #F5F8FF;
}

nav{
    position: relative;
    width: 100vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 3vw 5vw;
    position: absolute;
    width: 100%;
}
.logo{
    font-size: 34px;
    color: var(--primary-color);
    font-weight: 900;
    font-family: var(--inter-font);
}
.btn{
    background: var(--primary-color);
    padding: 12px 36px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: #FFFF;
    cursor: pointer;
    font-family: var(--main-font);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Assets/Hero-bg.png");
}
.hero .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}
.heading{
    font-size: 67px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    font-family: var(--main-font)
}

.action{
    /* margin: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
    
}

.action .wrapper{
    /* background: red; */
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    padding: 5vw 0;
}

.text-action{
    width: 55%;
}

.action .wrapper .left .text-action h1{
    font-size: 42px;
    font-weight: bold;
    font-family: var(--main-font);
}
.text-action p{
    font-size: 20px;
    font-weight: 300;
    color: var(--light-color);
     font-family: var(--main-font);
}

.right img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
    
}

.datas{
    display: flex;
    gap: 10vw;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 5vw 0;

}


.banner .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(78, 71, 255, 0.1);
    width: 70%;
    padding: 50px 80px;
    border-radius: 25px;
}

.banner .wrapper h1{
    font-size: 38px ;
     font-family: var(--main-font);
}


.datas .dat{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 100%;
     font-family: var(--inter-font);
}

.dat div{
    font-size: 80px;
    color: var(--primary-color);
    font-weight: bold;
}
.dat span{
     font-size: 20px;
     color: var(--light-color);
}

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 0;
}
.review h1{
    font-size: 42px;
    font-weight: bold;
    font-family: var(--main-font);
}

.review .wrapper {
    display: flex;
    justify-content: space-evenly;
}

.review-card{
    background: #FFFF;
    padding: 24px;
    width: 25%;
    border-radius: 14px;
    font-family: var(--inter-font);
}
.user-data{
    display: flex;
    gap: 1vw;
    /* justify-content: center; */
    align-items: center;
}
.dp img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.user-data .info{
    display: flex;
    flex-direction: column;
}

.info span:nth-of-type(1){
    font-size: 20px;
    color: #757575;
}
.info span:nth-of-type(2){
    font-size: 18px;
    color: #B3B3B3;
}

.review-card .text h2{
    font-size: 30px;
    font-family: var(--inter-font);
}

.review-card .text p{
    font-size: 17px;
    font-family: var(--inter-font);
}

.form{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 5vw 0;
}

.container {
  display: flex;
  background-color: #f5f8ff;
  /* padding: 40px; */
  justify-content: space-evenly;
  gap: 10vw;
  align-items: flex-start;
}

.container .left{
    width: 55%;
}
.container .right{
    width: 45%;
}

.container .left h1 {
  font-size: 100px;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
  font-family: var(--main-font);
}

.container .right form {
  display: flex;
  flex-direction: column;
  /* width: 300px; */
}

label {
  margin: 10px 0 5px;
  font-size: 14px;
  color: #333;
}

input,
textarea {

  width: 497px;  
  height: 50px;
  padding: 20px 26px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: white;
  outline: none;
}

textarea {
  resize: none;
  height: 167px;
}

button {
  margin-top: 20px;
  padding: 14px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #3d38e0;
}

footer{
    padding: 5vw 0;
    background: #FFF;
}

footer .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .7vw;
}

footer .wrapper .lgoo{
    font-size: 100px;
    color: var(--primary-color);
    font-weight: 800;
     font-family: var(--main-font);
}

footer .wrapper .text{
    font-size: 20px;
    text-align: center;
    width: 45%;
    color: var(--light-color);
    font-family: var(--inter-font);
}

footer .wrapper .links{
    display: flex;
    gap: 3vw;
    padding-top: 20px;
    font-family: var(--inter-font);
}

footer .wrapper .links a{
    text-decoration: none;
    color: var(--light-color);
    font-size: 20px;
}