:root{
    --primary-color: #4E47FF;
}
*{

    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background: #F5F8FF;
}

nav{
    position: relative;
    width: 100vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 3vw 5vw;
    position: absolute;
    width: 100%;
}
.logo{
    font-size: 34px;
    color: var(--primary-color);
    font-weight: 600;
}
.btn{
    background: var(--primary-color);
    padding: 12px 36px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: #FFFF;
    cursor: pointer;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Assets/Hero-bg.png");
}
.hero .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}
.heading{
    font-size: 67px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.action{
    margin: 30px;
}

.action .wrapper{
    display: flex;
    justify-content: center;
    gap: 3vw;
    align-items: center;
    padding: 5vw 0;
    width: 100vw;
}

.text-action{
    width: 65%;
}

.text-action h1{
    font-size: 42px;
    font-weight: bold;
}
.text-action p{
    font-size: 28px;
    font-weight: 100;
}

.right img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
    
}

.datas{
    display: flex;
    gap: 10vw;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 5vw 0;

}


.banner .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(78, 71, 255, 0.1);
    width: 70%;
    padding: 50px 80px;
    border-radius: 25px;
}

.banner .wrapper h1{
    font-size: 38px ;
}


.datas .dat{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 100%;
}

.dat div{
    font-size: 80px;
    color: var(--primary-color);
    font-weight: bold;
}
.dat span{
     font-size: 20px;
   
     
}
